sudo: required

language: julia

services:
  - docker

os:
  - osx
  - linux

julia:
  - 0.5
  - nightly

notifications:
  email: false

after_success:
  - julia -e 'cd(Pkg.dir("Feather")); Pkg.add("Coverage"); using Coverage; Codecov.submit(process_folder())'
  - julia -e 'Pkg.add("Documenter")'
  - julia -e 'cd(Pkg.dir("Feather")); include(joinpath("docs", "make.jl"))'
